body {
  background-color: rgb(37, 37, 37);

}

.title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1.5px;
  color:  #15f4ee;
  margin-bottom: 10px;
}

.App {
  text-align: center;
  background-color: rgb(146, 146, 146);
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.addBtn {
  position: relative;
  text-align: center;
  width: 250px;
  padding: 40px;
  font-size: 20px;
  font-family: poppins;
  font-weight: 400;
  border: 5px solid #15f4ee;
  color: #15f4ee;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  border-radius: 100px;
  transition: 1.5s;
  margin-bottom: 10px;
}

.addBtn:hover {
  box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
  0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;

  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}


.backBtn {
  position: relative;
  text-align: center;
  width: 250px;
  padding: 40px;
  font-size: 13px;
  font-family: poppins;
  font-weight: 400;
  border: 5px solid #15f4ee;
  color: #15f4ee;
  background-color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
  border-radius: 100px;
  transition: 1.5s;
  margin-bottom: 10px;
}

.backBtn:hover {
  box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
  0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;

  text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

.saveBtn {
    position: relative;
    text-align: center;
    width: 150px;
    padding: 20px;
    font-size: 13px;
    font-family: poppins;
    font-weight: 200;
    border: 5px solid #15f4ee;
    color: #15f4ee;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    margin-bottom: 10px;
  }
  
  .saveBtn:hover {
    box-shadow: 0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee,
    0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 #15f4ee;
  
    text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
  }

  .cancelBtn {
    position: relative;
    text-align: center;
    width: 150px;
    padding: 20px;
    font-size: 13px;
    font-family: poppins;
    font-weight: 200;
    border: 5px solid  #f41515;
    color:  #f41515;
    background-color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 100px;
    transition: 1.5s;
    margin-bottom: 10px;
  }
  
  .cancelBtn:hover {
    box-shadow: 0 5px 50px 0 #f41515 inset, 0 5px 50px 0  #f41515,
    0 5px 50px 0  #f41515 inset, 0 5px 50px 0  #f41515;
  
    text-shadow: 0 0 5px  #f41515, 0 0 5px  #f41515;
  }

  



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

