body {
  background-color: rgb(37, 37, 37);

}

.title {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1.5px;
  color: rgb(49, 36, 233);
  margin-bottom: 10px;
}

.App {
  text-align: center;
  background-color: rgb(146, 146, 146);
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

